<div class="search-block">
  <ul class="main-search-tittle">
    <li class="search-tittle-item">Poznaj piłkarza! </li>
    <li class="search-tittle-item">Wpisz jego imię i nazwisko!</li>
    <li class="search-tittle-item">
      <img class="search-arrowRightDown" src="../../assets/Icons/MainPage/arrowRightDown.png" alt="arrowRightDown">
    </li>
  </ul>
  <input class="main-search-bar" placeholder="Zawodnik" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let state of filteredStates | async" [value]="state.name.concat(' ').concat(state.surname)">
      <a class="link-player" routerLink="/players/{{state.name.concat('-').concat(state.surname)}}">
        <span class="span-name">{{state.name}}</span> &nbsp;
        <span class="span-name">{{state.surname}}</span>
      </a>
    </mat-option>
  </mat-autocomplete>
</div>
<router-outlet></router-outlet>
