<div class="main-container">
  <div class="search-form">
    <app-search-bar></app-search-bar>
  </div>
  <div class="player-main-container" *ngIf="!loading">
    <div class="name-surname-item">
      <div class="tittle-font">Imię Nazwisko</div>
      <div>{{player.name}} {{player.surname}}</div>
    </div>
    <div class="nationality-name-item">
      <div>Nazwa kraju</div>
      <div>{{player.nationalityName}}</div>
    </div>
    <div class="nationality-flag-item">
      <img src="data:{{player.flagNational}}" width="100" height="100" alt="FlagCountry">
    </div>
    <div class="position-item">
      <div class="position-in-circle">
        {{player.positionName}}
      </div>
    </div>
    <div class="league-name-item">
      <div class="tittle-league">Liga/Państwo/Zespół</div>
      <ul>
        <li>{{player.leagueName}}</li>
        <li>{{player.nationalLeagueName}}</li>
        <li>{{player.teamName}}</li>
      </ul>
    </div>
    <div class="shirt-number-item">
      <div>Numer koszulki</div>
      <div>{{player.shirtNumber}}</div>
    </div>
    <div class="height-value-item">
      <div>Wzrost zawodnika</div>
      <div>{{player.height}}</div>
    </div>
    <div class="weight-value-item">
      <div>Waga zawodnika</div>
      <div>{{player.weight}}</div>
    </div>
    <div class="description-item">
      <div>Opis zawodnika(z Wikipedii)</div>
      <div>{{player.description}}</div>
    </div>
    <div class="wiki-link-item">
      <div>Link do Wikipedii</div>
      <a href="{{player.wikiLink}}">Ikonka</a>
    </div>
  </div>
</div>
