<div class="main-container">
  <div class="search-form">
    <app-search-bar></app-search-bar>
  </div>
  <div class="main-text-api">
    <h2 class="tittle-text-api">Trenerzy</h2>
    <p class="text-api"></p>
    <p class="text-api">
      <strong class="text-api-elements"> </strong>
    </p>
    <p class="text-api"></p>
  </div>
  <div class="main-block">


    <div class="table-filters">

      <mat-form-field>
        <mat-select [(ngModel)]="selectedCountry" placeholder="Państwo" (selectionChange)="getNewManagers()">
          <mat-option *ngFor="let country of dataSourceCountries.data" [value]="country.name">
            {{country.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedLeague" placeholder="Liga" (selectionChange)="getNewManagers()">
          <mat-option *ngFor="let league of dataSourceLeagues.data;" [value]="league.name + '-' +league.nationalityName">
            {{league.name + '-' +league.nationalityName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <app-table-value [displayedColumns]='displayedColumns' [nameColumns]='nameColumns' [loading]="isLoading"
      [dataSource]="dataSource">
    </app-table-value>
  </div>
</div>
