<header>
  <div class="navbar">

    <div class="navbar-items">
      <ul class="navbar-list">
        <li id="mobile">
          <div class="hamburger">
            <span class="hamburger-first-line"></span>
            <span class="hamburger-second-line"></span>
            <span class="hamburger-third-line"></span>
            <span class="hamburger-first-line"></span>
          </div>
        </li>
        <li class="navbar-item" id="abd">
          <img class="size-logo" src="../assets/Icons/Logo.svg" alt="LOGO">
        </li>
        <li (mouseenter)="malowanie(true)" (mouseleave)="malowanie(false)" class="navbar-item">
          <a href="#">
            <div>
              <div class="canvas-icons" id="canvas-whistle"></div>
            </div>
            <div class="category category-1">
              Mecze
            </div>
          </a>
        </li>
        <li (mouseenter)="malowanie2(true)" (mouseleave)="malowanie2(false)" class="navbar-item">
          <div>
            <div class="canvas-icons" id="canvas-footballer"></div>
          </div>
          <div class="category category-2">
            Piłkarze
          </div>
        </li>
        <li (mouseenter)="malowanie3(true)" (mouseleave)="malowanie3(false)" class="navbar-item">
          <div>
            <div class="canvas-icons" id="canvas-managers"></div>
          </div>
          <div class="category category-3">
            Trenerzy
          </div>
        </li>
        <li class="navbar-item">
          <div>
            <div class="canvas-icons" id="canvas-login"></div>
          </div>
          <div class="category category-4">
            Logowanie
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="container">
  <span class="test1"></span>
  <span class="test2"></span>
  <span class="test3"></span>
</div>
