<header>
  <div class="navbar">

    <div class="navbar-items">
      <div id="mobile">
        <div class="mobile-button">
          <button type="submit" (click)="hamburgerClick()" class="hamburger">
            <span class="hamburger-first-line" [ngClass]="{'open-upper-line': checkHamburger==true}"></span>
            <span class="hamburger-second-line" [ngClass]="{'open-cross-left-line': checkHamburger==true}"></span>
            <span class="hamburger-third-line" [ngClass]="{'open-cross-right-line': checkHamburger==true}"></span>
            <span class="hamburger-first-line" [ngClass]="{'open-lower-line': checkHamburger==true}"></span>
          </button>
        </div>
        <div class="mobile-logo">
          <img class="size-logo" src="../assets/Icons/Logo.svg" alt="LOGO">
        </div>
      </div>

      <ul class="navbar-list" [ngClass]="{'navbar-list-mobile': checkHamburger==true}">
        <li class="navbar-item" id="logo-desktop">
          <img class="size-logo" src="../assets/Icons/Logo.svg" alt="LOGO">
        </li>

        <li (mouseenter)="paintingIconMatches(true)" (mouseleave)="paintingIconMatches(false)" class="navbar-item">
          <a href="#">

            <div>
              <div class="canvas-icons" id="canvas-whistle"></div>
            </div>
            <div class="category category-1">
              Mecze
            </div>
          </a>
        </li>
        <li (mouseenter)="paintingIconFootballer(true)" (mouseleave)="paintingIconFootballer(false)" class="navbar-item">
          <div>
            <div class="canvas-icons" id="canvas-footballer"></div>
          </div>
          <div class="category category-2">
            Piłkarze
          </div>
        </li>
        <li (mouseenter)="paintingIconManagers(true)" (mouseleave)="paintingIconManagers(false)" class="navbar-item">
          <div>
            <div class="canvas-icons" id="canvas-managers"></div>
          </div>
          <div class="category category-3">
            Trenerzy
          </div>
        </li>
        <li class="navbar-item">
          <div>
            <div class="canvas-icons" id="canvas-login"></div>
          </div>
          <div class="category category-4">
            Logowanie
          </div>
        </li>
      </ul>
    </div>

  </div>
</header>
