$search-font-size-title: 19px;
@import "../../../shared/scss/shared.scss";

$back-color:rgba($color: #000000, $alpha: 0.43);
$search-color: rgba(27, 26, 26, 0.747);

@keyframes search-animations {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }

}

@keyframes main-items-animations {
  0% {
    opacity: 0;
    transform: translateY(70px);
    height: 0%;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    height: 100%;
  }

}



@mixin main-container-mixin() {


  position: absolute;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: minmax(140px, 25%) 1fr;
  width: 100%;
  height: calc(100% - 134px);
  grid-template-areas: " . main-block . "
    "main-inform-block main-inform-block main-inform-block";
  transition: 1s;

  .main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: main-block;

    .search-block {
      width: 640px;

      .main-search-tittle {
        font-family: 'DJBSkritchSkratch', DJBSkritchSkratch;
        font-weight: 800;
        color: white;
        display: flex;
        font-size: $search-font-size-title;
        justify-content: center;
        margin: 0 0 20px 0;
        animation: search-animations 2s;

        .search-tittle-item {
          padding: 0 3px;

          .search-arrowRightDown {
            position: absolute;
            transform: scale(0.7) rotate(30deg);
          }
        }
      }


      .main-search-bar {
        animation-name: test;
        animation: search-animations 2s;
        height: 50px;
        width: 140px;
        border-radius: 15px;
        text-align: center;
        min-width: 100%;
        background-color: $search-color;
        font-family: 'DJBSkritchSkratch', DJBSkritchSkratch;
        font-weight: 800;
        color: white;
      }
    }
  }

  .main-inform-block {

    grid-area: main-inform-block;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    .assumption {
      animation-name: main-items-animations;
      animation-duration: 1.5s;
    }

    .pitch {
      animation-name: main-items-animations;
      animation-duration: 2s;
    }

    .about {
      animation-name: main-items-animations;
      animation-duration: 2.5s;
    }

    .main-inform-item {
      box-shadow: 0px -2px 6px 4px rgba(0, 0, 0, 0.53);
      display: grid;
      grid-template-rows: 100px 1fr;
      background-color: rgba(0, 0, 0, 0.29);
      z-index: 10;
      position: relative;

      .main-tittle-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'DJBSkritchSkratch', DJBSkritchSkratch;
        font-weight: 800;
        color: white;
        font-size: $search-font-size-title;
      }

      .main-bullet-points {
        list-style: disc;
        font-size: $search-font-size-title;
        font-family: 'DJBSkritchSkratch', DJBSkritchSkratch;
        font-weight: 800;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 0 50px;
        line-height: 2;

        .main-bullet-dot {
          font-size: 15px;
          padding: 20px 0;
        }
      }

      .main-content-item {
        display: flex;
        justify-content: center;
        align-items: start;

        .main-content-picture-mobile {
          display: none;
          visibility: hidden;
        }

        .main-content-about {
          display: flex;
          align-items: center;
          flex-direction: column;
        }

        .circle {
          height: 200px;
          width: 200px;
          background-color: #bbb;
          border-radius: 50%;
          box-shadow: 0px 0px 11px 3px #000;
          margin: 0 0 50px 0;
        }

        .main-content-about-text {
          font-size: $search-font-size-title;
          font-family: 'DJBSkritchSkratch', DJBSkritchSkratch;
          font-weight: 800;
          color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 30px;
          line-height: 2;
          font-size: 15px;
        }
      }
    }

  }



}
