@import "../../../shared/scss/shared.scss";


@mixin medium-main-container-mixin {
  grid-template-areas: " main-block main-block main-block "
    "main-inform-block main-inform-block main-inform-block";

  .main-block {

    .search-block {
      margin: 0 15px;

      .main-search-bar {
        font-size: $search-font-size-title - 2px;
      }

      .main-search-tittle {
        font-size: $search-font-size-title - 2px;

        .search-tittle-item {
          .search-arrowRightDown {
            width: 100%;
            transform: none;
            max-width: 9vw;
          }
        }
      }
    }
  }

  .main-inform-block {
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "pitch pitch pitch pitch"
      "assumption assumption about about";

    .main-inform-item {
      grid-template-rows: 70px 1fr;

      .main-bullet-points {
        padding: 0 0 0 30px;
      }

      .main-content-item {

        .main-content-picture {
          display: none;
          visibility: hidden;
        }

        .main-content-picture-mobile {
          display: block;
          visibility: inherit;
          padding: 0 0 20px 0;
        }

        .main-content-about {

          .circle {
            height: 150px;
            width: 150px;
            margin: 0 0 30px 0;
          }
        }
      }
    }

    .pitch {
      grid-area: pitch;
    }

    .assumption {
      grid-area: assumption;
    }

    .about {
      grid-area: about;
    }
  }
}
