@import "../../../shared/scss/shared.scss";


@mixin small-main-container-mixin {
  grid-template-areas: " main-block main-block main-block "
    "main-inform-block main-inform-block main-inform-block";

  .main-block {

    .search-block {
      margin: 0 15px;

      .main-search-tittle {
        overflow-wrap: break-word;
        display: flex;
        flex-direction: column;
        align-items: center;

        .search-tittle-item {
          padding: 5px 0;
        }
      }

      .main-search-bar {
        font-size: $search-font-size-title - 3px;
        height: 40px;
      }

      .main-search-tittle {
        font-size: $search-font-size-title - 3px;
        margin: 10px 0;

        .search-tittle-item {

          &:last-of-type {
            display: none;
            visibility: hidden;

          }
        }
      }
    }

  }

  .main-inform-block {
    display: flex;
    flex-direction: column;

    .main-inform-item {
      margin: 10px 0;
      padding: 10px 0;
      box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.53);
    }

    .pitch {
      order: 1;
    }

    .about {
      margin: 10px 0 0 0;
      order: 3;
    }

    .assumption {
      order: 2;
    }
  }


}
