<div class="main-container">
  <div class="main-block">

    <button (click)="getNewPlayers()">Test</button>

    <select [(ngModel)]="selectedCountry" (click)="getNewPlayers()" name="test" id="test">
      <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
    </select>
    <table style="width:100%">
      <thead>

        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <td>{{player.name}}</td>
          <td>{{player.surname}}</td>
          <td>50</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
