@keyframes navbar-animations {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }

}


.main-container {
  position: absolute;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1fr;
  width: 100%;
  height: calc(100% - 134px);
  grid-template-areas: " . main-block . "
    "main-inform-block main-inform-block main-inform-block";
  transition: 1s;

  .main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: main-block;

    mat-table {
      width: 100%;
      animation-name: navbar-animations;
      animation-duration: 2s;

    }

    mat-header-cell {
      display: flex;
      justify-content: center;
      color: white;
      font-family: 'DJBSkritchSkratch', DJBSkritchSkratch;
      font-weight: 800;
    }

    mat-cell {
      display: flex;
      justify-content: center;
    }

  }

}

// .mat-table {
//   overflow: auto;
//   max-height: 500px;
// }
