<div class="main-container" [ngClass]="{'hide-main-page': hamburgerOpen==true}">
  <div class="main-block">
    <app-search-bar></app-search-bar>
  </div>
  <ul class="main-inform-block">
    <li class="main-inform-item assumption">
      <div class="main-tittle-item">Założenia projektu </div>
      <ul class="main-bullet-points">
        <li class="main-bullet-dot">Aplikacja ma być prosta i czytelna dla każdego użytkownika</li>
        <li class="main-bullet-dot">Aplikacja zezwala na pobieranie danych przez API i używania ich w innych
          aplikacjach </li>
        <li class="main-bullet-dot">Prosty sposób przeglądania i analizowania danych poprzez dynamiczne table</li>
      </ul>
    </li>
    <li class="main-inform-item pitch">
      <div class="main-tittle-item">Szukaj według pozycji: </div>

      <div class="main-content-item">
        <img class="main-content-picture" src="../../assets/Icons/MainPage/pitch.png" alt="pitch">
        <img class="main-content-picture-mobile" src="../../assets/Icons/MainPage/pitch2.png" alt="pitch">
      </div>
    </li>
    <li class="main-inform-item about">
      <div class="main-tittle-item">O Autorze </div>
      <div class="main-content-item">
        <div class="main-content-about">

          <img class="circle" src="../../assets/Photos/photo-about-me.jpg" alt="about-me-photo">
          <div class="main-content-about-text">
            Nazywam się Patryk Pątek i jestem studentem Warszawskiej Wyższej Szkoły Informatyki.
            Głównie interesuje się programowaniem oraz piłką nożną. Dodatkowo jestem
            analitykiem w
            akademii Legii Warszawa.
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
