<div class="main-container" [ngClass]="{'hide-main-page': hamburgerOpen==true}">
  <div class="main-block">
    <app-search-bar></app-search-bar>
  </div>
  <ul class="main-inform-block">
    <li class="main-inform-item assumption">
      <div class="main-tittle-item">Założenia projektu </div>
      <ul class="main-bullet-points">
        <li class="main-bullet-dot">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nisi nihil
          !</li>
        <li class="main-bullet-dot">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nisi nihil
          !</li>
        <li class="main-bullet-dot">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nisi nihil
          !</li>
      </ul>
    </li>
    <li class="main-inform-item pitch">
      <div class="main-tittle-item">Szukaj według pozycji: </div>

      <div class="main-content-item">
        <img class="main-content-picture" src="../../assets/Icons/MainPage/pitch.png" alt="pitch">
        <img class="main-content-picture-mobile" src="../../assets/Icons/MainPage/pitch2.png" alt="pitch">
      </div>
    </li>
    <li class="main-inform-item about">
      <div class="main-tittle-item">O Autorze </div>
      <div class="main-content-item">
        <div class="main-content-about">

          <img class="circle" src="../../assets/Photos/photo-about-me.jpg" alt="about-me-photo">
          <div class="main-content-about-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nisi nihil
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nisi nihil
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
