@keyframes navbar-animations {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }

}

@keyframes navbar-animations-reverse {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }

}


@mixin main-container-mixin() {
  position: absolute;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: minmax(160px, 25%) auto 1fr;
  width: 100%;
  height: calc(100% - 134px);
  grid-template-areas: " . main-block . "
    ". main-text-api ."
    ". main-inform-block .";
  transition: 1s;
  animation-name: navbar-animations;
  animation-duration: 2s;

  .main-text-api {
    box-shadow: 0px -2px 6px 4px rgba(0, 0, 0, 0.53);
    background-color: rgba(0, 0, 0, 0.29);
    grid-area: main-text-api;
    padding: 20px 20px;
    line-height: 20pt;


    .text-api-endpoint {
      display: flex;
      justify-content: center;
      margin: 20px 0;


      .text-api-table-tittle {
        margin: 0 0 10px 0;
        display: flex;
        color: white;
        justify-content: center;
        font-family: 'DJBSkritchSkratch', DJBSkritchSkratch;
        font-weight: 800;
      }

      .legend-table {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "tittle tittle";

        .legend-tittle {

          grid-area: tittle;
        }
      }

      .list-endpoint {
        font-family: 'Montserrat', sans-serif;
        width: 50%;
        background: #54494973;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.53);

        .endpoint-item {
          color: white;
        }

      }
    }

    .text-api {
      display: flex;
      text-align: justify;
      color: white;
      margin: 5px 0;
      font-family: 'Montserrat', sans-serif;

      .text-api-elements {
        font-weight: bold;
      }
    }

    .tittle-text-api {
      text-align: center;
      min-width: 100%;
      font-family: 'DJBSkritchSkratch', DJBSkritchSkratch;
      font-weight: 800;
      font-size: 20px;
      color: white;
      margin: 20px 0;
    }
  }

  .main-block {
    // display: flex;
    margin: 20px 0;
    padding: 20px 0 0 0;
    justify-content: center;
    align-items: center;
    grid-area: main-inform-block;
    background-color: rgba(0, 0, 0, 0.29);
    box-shadow: 0px -2px 6px 4px rgba(0, 0, 0, 0.53);
    animation-name: navbar-animations-reverse;
    animation-duration: 2s;



    .table-filters {
      display: flex;
      justify-content: space-around;
    }

    .chart {
      margin: 20px 0 0 0;
    }



  }

  .search-form {
    grid-area: main-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
