@keyframes navbar-animations {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }

}

@keyframes navbar-animations-reverse {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }

}


@mixin table-container-mixin() {

  height: 100%;
  width: 100%;
  overflow: auto;

  .extended-mat-table {
    width: 2000px !important;
  }

  .mat-table {
    width: 100%;

    .mat-header-cell {
      display: flex;
      justify-content: center;
      margin: 0 0 0 18px;
      position: sticky !important;
    }

    .align-cell {
      display: flex;
      justify-content: center;
    }

  }
}
