<div class="main-container">
  <div class="search-form">
    <app-search-bar></app-search-bar>
  </div>
  <div class="main-text-api">
    <h2 class="tittle-text-api">Mecze</h2>
    <p class="text-api">Poniższa tabela prezentuje statystki meczów z najważniejszych lig światowych
      Każdy z meczy posiada swoje unikalne statystki dzięki, którym możemy analizować mecz.</p>
    <p class="text-api">Tabela posiada możliwości dynamicznego sortowania oraz rozszerzenia o zaawansowane statystyki
    </p>
    <p class="text-api">Wszystkie statystyki meczy możemy również wyświetlić poprzez wbudowane w aplikacje API</p>
    <p class="text-api">W celu uzyskania poszczególnych informacji w formacie JSON do adresu strony trzeba dopisać
      odpowiedni endpoint</p>
    <div class="text-api-endpoint">
      <ul class="list-endpoint">
        <p class="text-api-table-tittle">Endpoint</p>
        <li class="endpoint-item">/api/matches</li>
        <li class="endpoint-item">/api/matches/withDetails</li>
        <li class="endpoint-item"> /api/matches/league/laliga</li>
        <li class="endpoint-item">/api/withDetails/league/laliga</li>
      </ul>
    </div>
    <p class="text-api">Przykładowo "poznajpilkarza.pl/api/matches", który wyświetli wszystkie mecze z bazy strony.</p>
    <p class="text-api">Pierwsza litera H w tabeli oznacza gospodarza</p>
    <p class="text-api">Pierwsza litera A w tabeli oznacza gościa</p>
    <p class="text-api">Druga litera G w tabeli oznacza bramki</p>
    <div class="text-api-endpoint">
      <ul class="list-endpoint legend-table">
        <p class="text-api-table-tittle legend-tittle">Legenda Tabeli</p>
        <li class="endpoint-item">FT- po 90 minutach</li>
        <li class="endpoint-item">HT- po 45 minutach</li>
        <li class="endpoint-item">ATT- Publiczność</li>
        <li class="endpoint-item">S -Liczba strzałów na bramkę</li>
        <li class="endpoint-item">SOT -Liczba strzałów celnych na bramkę</li>
        <li class="endpoint-item">WW -Ilość strzałów w słupki</li>
        <li class="endpoint-item">C -Rzuty rożne</li>
        <li class="endpoint-item">F -Rzuty wolne</li>
        <li class="endpoint-item">C -Spalone</li>
        <li class="endpoint-item">YC -Żółte kartki</li>
        <li class="endpoint-item">RC -Czerwone kartki</li>
      </ul>
    </div>
  </div>
  <div class="main-block">
    <div class="table-filters">

      <mat-form-field>
        <mat-select *ngIf="!advancedStatistic" [(ngModel)]="selectedLeague" placeholder="Liga"
          (selectionChange)="getNewMatches()">
          <mat-option *ngFor="let league of dataSourceLeagues.data;"
            [value]="league.name + '-' +league.nationalityName">
            {{league.name + '-' +league.nationalityName}}
          </mat-option>
        </mat-select>
        <mat-select *ngIf="advancedStatistic" [(ngModel)]="selectedLeague" placeholder="Liga"
          (selectionChange)="getNewMatchesWithDetails()">
          <mat-option *ngFor="let league of dataSourceLeagues.data;"
            [value]="league.name + '-' +league.nationalityName">
            {{league.name + '-' +league.nationalityName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox (change)="advancedMatchDetailsSwitch()">Zaawansowane statystki</mat-checkbox>
    </div>

    <app-table-value *ngIf="!advancedStatistic" [displayedColumns]='displayedColumns' [nameColumns]='nameColumns'
      [loading]="isLoading" [dataSource]="dataSource">
    </app-table-value>
    <app-table-value *ngIf="advancedStatistic" [displayedColumns]='displayedColumnsDetails'
      [nameColumns]='nameColumnsDetails' [loading]="isLoading" [dataSource]="dataSourceDetails">
    </app-table-value>
    <div class="chart">
      <app-column-chart *ngIf="!isLoading" [dataChart]='dataChart' [nameChart]="nameChartGoals"
        [tittleChart]='tittleGoalChart'>
      </app-column-chart>
    </div>
    <div class="chart">
      <app-column-chart class="chart" *ngIf="!isLoading" [dataChart]='dataChartDiff' [nameChart]='nameChartDiffGoals'
        [tittleChart]='tittleDiffChart'>
      </app-column-chart>
    </div>
    <mat-form-field>

      <mat-select [(ngModel)]="selectedTeam" placeholder="Zespół" (selectionChange)="compareTwoTeamsChart()">
        <mat-option *ngFor="let team of teamsName;" [value]="team">
          {{team}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="!isLoading" class="chart">
      <app-compare-chart class="chart" [dataChart]='dataChartProgressPoint'
        [dataChartSecondTeam]="dataChartSecondSecondTeam"></app-compare-chart>
    </div>
  </div>
</div>
