<div class="main-container">
  <div class="main-block">

    <div class="search-block">
      <ul class="main-search-tittle">
        <li class="search-tittle-item">Poznaj piłkarza! </li>
        <li class="search-tittle-item">Wpisz jego imię i nazwisko!</li>
        <li class="search-tittle-item">
          <img class="search-arrowRightDown" src="../../assets/Icons/MainPage/arrowRightDown.png" alt="arrowRightDown">
        </li>
      </ul>
      <form action="">
        <input class="main-search-bar" type="text" placeholder="" name="footballer">

      </form>
    </div>
  </div>
  <ul class="main-inform-block">
    <li class="main-inform-item assumption">
      <div class="main-tittle-item">Założenia projektu </div>
      <ul class="main-bullet-points">
        <li class="main-bullet-dot">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nisi nihil
          !</li>
        <li class="main-bullet-dot">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nisi nihil
          !</li>
        <li class="main-bullet-dot">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nisi nihil
          !</li>
      </ul>
    </li>
    <li class="main-inform-item pitch">
      <div class="main-tittle-item">Szukaj według pozycji: </div>

      <div class="main-content-item">
        <img class="main-content-picture" src="../../assets/Icons/MainPage/pitch.png" alt="pitch">
        <img class="main-content-picture-mobile" src="../../assets/Icons/MainPage/pitch2.png" alt="pitch">
      </div>
    </li>
    <li class="main-inform-item about">
      <div class="main-tittle-item">O Autorze </div>
      <div class="main-content-item">
        <div class="main-content-about">

          <img class="circle" src="../../assets/Photos/photo-about-me.jpg" alt="about-me-photo">
          <div class="main-content-about-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nisi nihil
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nisi nihil
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
