<div class="main-container">
  <div class="main-block">

    <div class="search-block">
      <ul class="main-search-tittle">
        <li class="search-tittle-item">Poznaj piłkarza! </li>
        <li class="search-tittle-item">Wpisz jego imię i nazwisko!</li>
        <li class="search-tittle-item">
          <img src="../../assets/Icons/MainPage/arrowRightDown.png" alt="arrowRightDown">
        </li>
      </ul>
      <form action="">
        <input class="main-search-bar" type="text" placeholder="" name="footballer">
 
      </form>
    </div>
  </div>
  <ul class="main-inform-block">
    <li class="main-inform-item">
      a
    </li>
    <li class="main-inform-item">
      b
    </li>
    <li class="main-inform-item">
      c
    </li>
  </ul>
</div>
